.text-big {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #cccccc;
}

.text-medium {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  color: #cccccc;
}

.text-small {
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  color: #cccccc;
}

.body {
  background-color: #222222;
}